:root {
  --primary-color: #00479c;
  --secondary-color: #ec6100;
  --background-primary-color: #d4d4e5;
  --background-secondary-color: #f3f3f3;
  --bar-primary-color: #9c9c9c;
  --bar-secondary-color: #6e6e6e;
  --theme-toggle-icon-color: black;
  --color-scheme: light;
}

body.dark {
  --background-primary-color: black;
  --background-secondary-color: rgb(21, 21, 21);
  --theme-toggle-icon-color: white;
  --color-scheme: dark;
}
body {
  font-family: system-ui;
  background-image: radial-gradient(
    var(--primary-color) 0.5px,
    var(--background-primary-color) 0.5px
  );
  background-size: 10px 10px;
  color-scheme: var(--color-scheme);
}

/* Container */

#container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.animate-entry {
  opacity: 1 !important;
}

/* Heading */

header {
  width: 100%;
  padding: 1%;
  margin-top: -10px;
  margin-bottom: 1%;
  backdrop-filter: blur(1px);
  background-color: rgba(136, 153, 215, 0.268);
}

#stopwatch-heading {
  width: 180px;
  height: 50px;
  margin: auto;
  color: var(--primary-color);
  border-radius: 30px;
  border: 3px solid rgb(241, 168, 32);
  text-align: center;
  background-color: var(--background-primary-color);
}

/* Stopwatch */

#stopwatch-container {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 50px;
  position: relative;
  background-color: transparent;
}

#stopwatch {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--background-secondary-color);
  box-shadow: rgba(0.1, 0, 0, 0.1) 0px 0px 3px 2px;
  backdrop-filter: blur(5px);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Stopwatch Numbers */

#stopwatch-numbers {
  position: absolute;
  font-size: 5rem;
  font-weight: bold;
  color: var(--primary-color);
}

#milliseconds {
  font-size: 2.5rem;
  font-weight: normal;
  color: var(--secondary-color);
}

/* Bars */

#bar-elements span {
  position: absolute;
  transform: rotate(calc(var(--index) * 6deg));
  inset: -5px;
  text-align: center;
}

#bar-elements span p {
  display: inline-block;
  position: absolute;
  width: 2px;
  height: 10px;
  border-radius: 2px;
  background-color: var(--bar-primary-color);
}

#bar-elements span:nth-child(5n) p {
  width: 4px;
  height: 11px;
  background-color: var(--bar-secondary-color);
}

#bar-elements span:nth-child(60n) p {
  background-color: var(--primary-color);
}

/* Theme toggle button */

#theme-toggle {
  background-color: transparent;
  position: absolute;
  top: 75%;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
  transition: 0.5s ease-in;
  display: flex;
  justify-content: center;
  align-items: center;
}

#theme-toggle svg:hover {
  fill: var(--theme-toggle-icon-color);
}

/* Buttons */

#stopwatch-buttons-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#stopwatch-buttons-container button {
  display: inline-block;
  color: var(--secondary-color);
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.05rem;
  text-align: center;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: rgba(0.1, 0, 0, 0.1) 0px 0px 3px 2px;
  background-color: var(--background-secondary-color);
  margin: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  z-index: 1;
}

#stopwatch-buttons-container #start-button {
  color: var(--primary-color);
}

#stopwatch-buttons-container button:hover {
  color: var(--background-secondary-color);
  background-color: var(--secondary-color);
}

#stopwatch-buttons-container button:active {
  background-color: #f0c6a8;
}

#stopwatch-buttons-container #start-button:hover {
  color: var(--background-secondary-color);
  background-color: var(--primary-color);
}

#stopwatch-buttons-container #start-button:active {
  background-color: #6e7a86;
}

/* Media Queries */

@media screen and (max-width: 415px) {
  #stopwatch-buttons-container {
    flex-direction: column;
    margin-top: -20px;
  }

  #stopwatch-buttons-container button {
    margin: 5px;
  }
}

